@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  /* margin: 0;
  padding: 0 ; */
  color: white;
}

.button-FS {
  background: linear-gradient(to right, #9f1e6e, #581563, #130c58, #4a96bb);
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  /* font-size: 48px; */
}

.FS-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.working-progress-img {
  background-image: url("/pictures/Picture_WP.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shared-padding {
  @apply px-10 md:px-[50px] lg:px-[150px];
}

/* Table */

.table-features {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.table-head-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.table-head-desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #737171;
}

.table-head-price {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 34px;
}

.table-features-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.table-features-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.table-row-bg {
  background-size: cover;
  background-position: center;
}

.table-row-bg td {
  padding: 10px;
}

/* Contacts */

.contacts-img {
  width: 400px;
  height: auto;
}

.contacts-img-text {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
}

/* p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; 
  font-size: 20px;
} */
